<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="alpha.labgo">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature android:name="android.hardware.alpha.labgo.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- add mobile vision dependencies and version to metadata -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />
        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="text" />

        <activity
            android:name=".SignInActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:parentActivityName=".BuzzCardBarcodeActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".BuzzCardBarcodeActivity"
            android:parentActivityName=".SignInActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".BuzzCardTextActivity"
            android:parentActivityName=".SignInActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />
        <activity android:name=".QrCodeActivity" />
        <activity android:name=".MainTaActivity" />

        <service
            android:name="com.amazonaws.mobileconnectors.s3.transferutility.TransferService"
            android:enabled="true" />

        <activity android:name=".UpdateInventoryActivity" />
        <activity
            android:name=".UpdateItemActivity"
            android:label="@string/title_activity_update_item"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity android:name=".settings.AccountSettingsActivity"></activity>
    </application>

</manifest>